* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image : url();
    background-image: url("./image.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
}
main {
     background-color: rgba(249, 234, 246, 0.85);
     position: relative;
     top: 30%;
     border: 1px solid;
     border-radius: 5px;
    min-width: 540px;
    max-width: 50%;
    margin: auto;
    padding: 2em;
}

h1 {
  margin-bottom: 20px;
}
#search {
    border-radius : 5px 0 0 5px;
    padding : 10px;
    border: none;
    font-size: 16px;
    width : 70%;
    height: 42px;
}
#submit {
    border-radius: 0 5px 5px 0;
    padding: 10px;
    font-size: 16px;
    width: 5em;
    cursor: pointer;
}
#weather-wrapper {
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: space-between;
}
#weather-search {
    display: flex;
    width: 55%;
}
#weather-data {
    background-color: rgb(232, 206, 225);
    border-radius: 5px;
    padding: 1.5em;
    margin-top: 20px;
    text-align: center;
    align-items: center;
    gap: 13px;
}

#weather-data > img {
    border-radius : 60%;
    background-color : rgb(237, 237, 209);
}